<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include ../layout/head %>
        <link href="/static/admin/css/jstree/style.css" rel="stylesheet" />
    </head>
    <body>
        <section id="container" >
            <%- include ../layout/header %>
            <%- include ../layout/sidebar %>
            <!--main content start-->
            <section id="main-content">
                <section class="wrapper site-min-height">
                    <%if(message && message.error){%>
                    <div class="alert alert-block alert-danger fade in">
                        <button class="close close-sm" type="button" data-dismiss="alert">
                            <i class="fa fa-times"></i>
                        </button>
                        <h4><i class="fa fa-times-sign"></i> Lỗi!</h4>
                        <p><%= message.error %></p>
                    </div>
                    <%}%>
                    <div class="row">
                        <div class="col-lg-12">
                            <aside class="col-lg-4">
                                <section class="panel panel-primary">
                                    <header class="panel-heading">
                                        <b>Cây danh mục</b>
                                    </header>
                                    <div class="panel-body">
                                        <section id="flip-scroll">
                                            <div class="tree-container clearfix grid-content" style="overflow: hidden;">
                                                <div class="tree-header">
                                                    <div class="tree-function form-group">
                                                        <a href="javascript:void(0)" onclick="$('#catalog-tree').jstree('close_all');" >Thu gọn</a> | <a href="javascript:void(0)" onclick="$('#catalog-tree').jstree('open_all');" >Mở rộng</a> 
                                                    </div>
                                                    <span class="root-cat"><a href="javascript:void(0)" id="root-cat">Danh mục chính</a></span>
                                                </div>
                                                <div class="clear"></div>
                                                <div id="catalog-tree">
                                                    jsTree init here 
                                                </div>
                                            </div>
                                        </section>
                                    </div>
                                </section>
                            </aside>
                            <aside class="col-lg-8">
                                <section class="panel panel-primary">
                                    <header class="panel-heading">
                                        <b>Thêm menu</b>
                                    </header>
                                    <div class="panel-body">
                                        <section id="flip-scroll">
                                            <table class="table table-bordered table-condensed cf">
                                                <thead>
                                                    <tr>
                                                        <th style="text-align: center;">Tên menu</th>
                                                        <th style="text-align: center;">Tên tối ưu</th>
                                                        <th style="text-align: center;">Chức năng</th>
                                                    </tr>
                                                </thead>
                                                <tbody id="catalog-container"></tbody>
                                            </table> 
                                        </section>
                                    </div>
                                </section>
                            </aside>
                        </div>
                    </div>
                </section>

                <%- include ../layout/footer %>
            </section>
            <%- include ../layout/script %>
            <script src="/static/admin/js/lib/jquery.validate.min.js"></script>
            <script src="/static/admin/js/lib/jquery.jstree.js"></script>
            <script src="/static/admin/js/my/menu.js"></script>
            <script>
                Menu.add();
            </script>
    </body>
</html>
