<!DOCTYPE html>
<html id="ctl00_Html1" lang="vi">
    <head id="ctl00_Head1">
        <title>
            Thay đổi mật khẩu - <%= info.title%>
        </title>
        <%- include ../head %>
    </head>
    <body id="ctl00_Body" class="dark homepage vi-vn site1">
        <!--[if lt IE 9]>
        <p class="alert alert-danger text-center mrb0">Website không hỗ trợ trình duyệt bạn đang dùng vì quá cũ. Vui lòng <a rel="nofollow" href="https://browsehappy.com/">cập nhật trình duyệt mới</a> hoặc <a rel="nofollow" href="https://www.google.com/chrome/browser/desktop/index.html">Download Chrome</a> để trải nghiệm tốt hơn.</p>
        <![endif]-->
        <%- include ../header %>
        <main class="main">
            <div class="container">
                <div id="ctl00_Breadcrumbs_pnlWrapper">
                    <ul class="breadcrumb">
                        <li itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
                            <a href="<%= info.bareUrl%>" class="itemcrumb active" itemprop="url">
                                <span itemprop="title">Trang chủ</span>
                            </a>
                        </li>
                        <li itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
                            <a href="/trang-ca-nhan.html" class="selectedcrumb">Thông tin chung</a>
                        </li>
                    </ul>

                </div>
                <!--googleoff: all-->
                <div class="notify_block" style="background-color:#fff;color:#ff0000">
                    <div class="info">
                        <em class="fa fa-info-circle"></em>
                    </div>
                    Bạn nào đang xem BỊ CHUYỂN SANG TRANG KHÁC hoặc BỊ LỖI ẢNH KO LOAD ĐƯỢC thì xem tạm tại <a href="http://truyenchon.com" class="truyenchon" rel="nofollow">TruyenChon.com</a>
                </div>
                <!--googleon: all-->

                <div class="row">
                    <div id="ctl00_divCenter" class="full-width col-sm-12">
                        <div class="row">
                            <%- include leftbar %>
                            <div class="col-md-9 col-sm-8">
                                <div class="user-page clearfix">
                                    <h1 class="postname">
                                        Đổi mật khẩu
                                    </h1>
                                    <div class="row">
                                        <div class="col-sm-9">
                                            <% if(data.success){%>
                                            <div class="alert alert-success alert-dismissible">
                                                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                                <%= data.success%>
                                            </div>
                                            <%}%>
                                            <% if(data.error){%>
                                            <div class="alert alert-danger alert-dismissible">
                                                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                                <%= data.error%>
                                            </div>
                                            <%}%>
                                            <form method="POST" action="/doi-mat-khau.html" id="frm">
                                                <table id="ctl00_mainContent_ChangePassword1" cellspacing="0" cellpadding="0" style="width:100%;border-collapse:collapse;">
                                                    <tbody>
                                                        <tr>
                                                            <td>
                                                                <div class="form-group" id="rowPass">
                                                                    <label class="control-label">Mật khẩu cũ</label>
                                                                    <input name="password" id="password" type="password" class="form-control">
                                                                </div>
                                                                <div class="form-group">
                                                                    <label class="control-label">Mật khẩu mới</label>

                                                                    <input name="newPassword" id="newPassword" type="password" class="form-control">
                                                                </div>
                                                                <div class="form-group">
                                                                    <label class="control-label">Xác nhận mật khẩu mới</label>
                                                                    <input name="reNewPassword" type="password" class="form-control">
                                                                </div>
                                                                <div class="form-group">
                                                                    <input type="submit" value="Đổi mật khẩu" data-email="<%= user.email%>" class="btn btn-primary btnChange">
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>   
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <%- include ../footer %>
        <%- include ../nav %>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js" type="text/javascript" ></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="/static/frontend/js/lib/jquery.validate.min.js"></script>
        <script src="/static/frontend/js/lib/script.js" type="text/javascript"></script>
        <script src="/static/frontend/js/my/user.js"></script>

        <div id="loading"><img src="/static/frontend/images/loading-small.gif" alt="loading"><span>Đang xử lý</span></div>
        <a id="back-to-top">
            <i class="fa fa-angle-up"></i>
        </a>        
        <script>
            User.changePassword();
        </script>
    </body>
</html>