<aside>
    <div id="sidebar"  class="nav-collapse ">
        <!-- sidebar menu start-->
        <ul class="sidebar-menu" id="nav-accordion">
            <li>
                <a class="<%= (stuff.url === '/admin/config')?'active':''%>" href="/admin/config">
                    <i class="fa fa-cog"></i>
                    <span>Cài đặt</span>
                </a>
            </li>

            <li class="sub-menu">
                <a href="javascript:;" class="<%= (stuff.url === '/admin/category' || stuff.url === '/admin/category/add')?'active dcjq-parent':''%>">
                    <i class="fa fa-tag"></i>
                    <span>Thể loại</span>
                </a>
                <ul class="sub">
                    <li class="<%= (stuff.url === '/admin/category')?'active':''%>">
                        <a href="/admin/category">Danh sách thể loại</a>
                    </li>
                    <li class="<%= (stuff.url === '/admin/category/add')?'active':''%>">
                        <a href="/admin/category/add">Thêm thể loại</a>
                    </li>
                </ul>
            </li>

            <li class="sub-menu">
                <a href="javascript:;" class="<%= (stuff.url === '/admin/author' || stuff.url === '/admin/author/add')?'active dcjq-parent':''%>">
                    <i class="fa fa-user"></i>
                    <span>Tác giả</span>
                </a>
                <ul class="sub">
                    <li class="<%= (stuff.url === '/admin/author')?'active':''%>">
                        <a href="/admin/author">Danh sách tác giả</a>
                    </li>
                    <li class="<%= (stuff.url === '/admin/author/add')?'active':''%>">
                        <a href="/admin/author/add">Thêm tác giả</a>
                    </li>
                </ul>
            </li>
            <li class="sub-menu">
                <a href="javascript:;" class="<%= (stuff.url === '/admin/news' || stuff.url === '/admin/news/add')?'active dcjq-parent':''%>">
                    <i class="fa fa-newspaper-o"></i>
                    <span>Tin tức</span>
                </a>
                <ul class="sub">
                    <li class="<%= (stuff.url === '/admin/news')?'active':''%>">
                        <a href="/admin/news">Danh sách tin</a>
                    </li>
                    <li class="<%= (stuff.url === '/admin/news/add')?'active':''%>">
                        <a href="/admin/news/add">Thêm tin mới</a>
                    </li>
                </ul>
            </li>
            <li class="sub-menu">
                <a href="javascript:;" class="<%= (stuff.url === '/admin/menu' || stuff.url === '/admin/menu/add')?'active dcjq-parent':''%>">
                    <i class="fa fa-tasks"></i>
                    <span>Menu</span>
                </a>
                <ul class="sub">
                    <li class="<%= (stuff.url === '/admin/menu')?'active':''%>">
                        <a href="/admin/menu">Danh sách menu</a>
                    </li>
                    <li class="<%= (stuff.url === '/admin/menu/add')?'active':''%>">
                        <a href="/admin/menu/add">Thêm menu mới</a>
                    </li>
                </ul>
            </li>

        </ul>
        <!-- sidebar menu end-->
    </div>
</aside>