<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include layout/head %>
    </head>
    <body>
        <section id="container" >
            <%- include layout/header %>
            <%- include layout/sidebar %>
            <!--main content start-->
            <section id="main-content">
                
            </section>
            <!--main content end-->
            <%- include layout/footer %>
        </section>
        <%- include layout/script %>
    </body>
</html>
